<div class="row shadow-sm mt-5">
  <div class="col-12 p-5 rounded bg-white shadow-sm">
    <h2 class="text-uppercase text-primary mb-4">{{ header }}</h2>
    <img
      class="img-fluid mx-auto d-block rounded mt-5"
      src="../../../assets/loading-spinner.gif"
      alt=""
      *ngIf="!data.length; else datatable"
    />
    <ng-template #datatable>
      <div class="table-responsive">
        <table class="table table-sm table-striped text-center p-5 rounded">
          <thead class="thead-dark">
            <tr>
              <th scope="col" *ngFor="let ht of objectValues(headerTable)">
                <span *ngIf="ht.constructor.name === 'String'; else actions">
                  {{ ht }}
                </span>
                <ng-template #actions>
                  <span *ngIf="action">
                    Actions
                  </span>
                </ng-template>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="data.length">
            <tr *ngFor="let dt of data | reverse | paginate: paginationConfig">
              <td *ngFor="let ht of objectKeys(headerTable)">
                <div class="mt-3">
                  {{ dt[ht] }}
                </div>
                <div *ngIf="ht === 'actions'">
                  <a type="button" class="ml-2" (click)="onEdit(dt.id)">
                    <i class="fas fa-edit"></i>
                  </a>
                  <!--<a *ngIf="headerTable[ht].delete" type="button" class="ml-3">
                    <i class="far fa-trash-alt"></i>
                  </a>-->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h3 *ngIf="!data.length">NO RECORDS FOUND</h3>
    </ng-template>
    <pagination
      [paginationConfig]="paginationConfig"
      *ngIf="data.length"
    ></pagination>
  </div>
</div>
